<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="index.html">
            <p class="subtitle is-3"><i class="fa-solid fa-lemon" style="color: limegreen"></i> FreshInspiration</p>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample" id="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item"  href="index.html">
                My Mealplan
            </a>

            <a class="navbar-item act" href="recommendations.html">
                Create Mealplan
            </a>

            <a class="navbar-item">
                Browse Recipes
            </a>

            <a class="navbar-item">
                Help
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>