<div class="tabs">
    <ul>
        <li class="is-active" id="primary_toggle_tab"><a id="primary_toggle">Original</a></li>
        <li id="alternate_toggle_tab"><a id="alternate_toggle">Alternate</a></li>
    </ul>
</div>
<div id="recipe-primary">
    <div class="block">
        <div class="container is-fluid flex-container">
            <h1 class="title" id="recipe_title">Recipe Name #1</h1>
            <div class="flex-inner">
                <button class="delete is-large" style="float:right"></button>
                <button class="button">
                    <span class="icon is-large">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                  </button>
            </div>
        </div>
    </div>
    <div class="block">
        <figure class="image" id="recipe_image">

        </figure>
    </div>
    <div class="block">
        <div class="container is-fluid">
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fa-regular fa-clock"></i> Required Time</p>
                        <p class="subtitle is-6" id="recipe_time"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fa-solid fa-dumbbell"></i> Difficulty</p>
                        <p class="subtitle is-6"><span class="tag is-success">Easy</span></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Rating</p>
                        <p class="subtitle is-6"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star-half-stroke"></i></p>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <br>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title is-5">
                Ingredients
            </p>
            <table class="table is-fullwidth is-primary">
                <tbody id="recipe_ingredients">
                    <tr class="is-selected">
                        <td>Ingredient #1</td>
                        <td></td>
                    </tr>
                    <tr class="is-selected">
                        <td>Ingredient #2</td>
                        <td><i class="fa-solid fa-triangle-exclamation"></i></td>
                    </tr>
                    <tr class="is-selected">
                        <td>Ingredient #3</td>
                        <td><i class="fa-solid fa-circle-info"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="hero">
        <div class="hero-body" id="recipe_steps">
            <p class="title is-5">
                Directions
            </p>
            <article class="media">
                <figure class="media-left">
                    <p class="title is-5">1</p>
                </figure>
                <div class="media-content">
                    <p>Instruction 1</p>
                    <span class="tag">
                        <p><i class="fa-solid fa-circle-play"></i> Watch video</p>
                    </span>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="title is-5">2</p>
                </figure>
                <div class="media-content">
                    <p>Instruction 2</p>
                    <span class="tag">
                        <p><i class="fa-solid fa-circle-play"></i> Watch video</p>
                    </span>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="title is-5">3</p>
                </figure>
                <div class="media-content">
                    <p>Instruction 3</p>
                    <span class="tag">
                        <p><i class="fa-solid fa-circle-play"></i> Watch video</p>
                    </span>
                </div>
            </article>
        </div>
    </section>
</div>

<div id="recipe-alternate" hidden>
    <div class="block">
        <div class="container is-fluid">
            <button class="delete is-large" style="float:right"></button>
            <h1 class="title" id="recipe_title">Recipe Name #2</h1>
        </div>
    </div>
    <div class="block">
        <figure class="image" id="recipe_image">
        
        </figure>
    </div>
    <div class="block">
        <div class="container is-fluid">
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fa-regular fa-clock"></i> Required Time</p>
                        <p class="subtitle is-6" id="recipe_time"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading"><i class="fa-solid fa-dumbbell"></i> Difficulty</p>
                        <p class="subtitle is-6"><span class="tag is-success">Easy</span></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Rating</p>
                        <p class="subtitle is-6"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star-half-stroke"></i></p>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <br>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title is-5">
                Ingredients
            </p>
            <table class="table is-fullwidth is-primary">
                <tbody id="recipe_ingredients">
                    <tr class="is-selected">
                        <td>Ingredient #1</td>
                        <td></td>
                    </tr>
                    <tr class="is-selected">
                        <td>Ingredient #2</td>
                        <td><i class="fa-solid fa-triangle-exclamation"></i></td>
                    </tr>
                    <tr class="is-selected">
                        <td>Ingredient #3</td>
                        <td><i class="fa-solid fa-circle-info"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="hero">
        <div class="hero-body" id="recipe_steps">
            <p class="title is-5">
                Directions
            </p>
            <article class="media">
                <figure class="media-left">
                    <p class="title is-5">1</p>
                </figure>
                <div class="media-content">
                    <p>Instruction 1</p>
                    <span class="tag">
                        <p><i class="fa-solid fa-circle-play"></i> Watch video</p>
                    </span>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="title is-5">2</p>
                </figure>
                <div class="media-content">
                    <p>Instruction 2</p>
                    <span class="tag">
                        <p><i class="fa-solid fa-circle-play"></i> Watch video</p>
                    </span>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="title is-5">3</p>
                </figure>
                <div class="media-content">
                    <p>Instruction 3</p>
                    <span class="tag">
                        <p><i class="fa-solid fa-circle-play"></i> Watch video</p>
                    </span>
                </div>
            </article>
        </div>
    </section>
</div>